/* Overlay style */
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.5s;
	transition: visibility 0s 0.5s;
}

/* Overlay closing cross */
.overlay__close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	/*text-align: center;*/
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay__nav__ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay__nav__ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay__nav__ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay__nav__ul li a:hover,
.overlay__nav__ul li a:focus {
	/*color: #f0f0f0;*/
}

/* Effects */

.overlay.open {
	visibility: visible;
	-webkit-transition: none;
	transition: none;
}

.overlay svg {
	position: absolute;
	top: 0;
	left: 0;
}

.overlay .overlay__path {
	fill: rgba(0,0,0,0.7);
}

.overlay nav,
.overlay .overlay__close, .cs-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0s 0s;
	transition: opacity 0s 0s;
}

.overlay.open nav,
.overlay.open .overlay__close, .cs-placeholder {
	opacity: 1;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.overlay.close nav,
.overlay.close .overlay-close, .combo {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
@media screen and (min-width: 650px) {
	.overlay {
		visibility: visible;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.overlay nav,
	.overlay .overlay__close {
		opacity: 1;
	}
	.overlay__nav__ul li a {
		font-size: 20px;
		color: inherit;
	}
	.overlay nav {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.overlay svg {
		display: none;
	}
	.overlay__close {
		display: none;
	}
	.overlay__nav__ul li a::before,
	.overlay__nav__ul li a::after {
		display: inline-block;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
		-moz-transition: -moz-transform 0.3s, opacity 0.2s;
		transition: transform 0.3s, opacity 0.2s;
	}

	.overlay__nav__ul li a::before {
		margin-right: 10px;
		content: '-';
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		transform: translateX(20px);
	}

	.overlay__nav__ul li a::after {
		margin-left: 10px;
		content: '-';
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	.overlay__nav__ul li a:hover::before,
	.overlay__nav__ul li a:hover::after,
	.overlay__nav__ul li a:focus::before,
	.overlay__nav__ul li a:focus::after {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay__nav__ul li {
		min-height: 34px;
	}
}
