@font-face {
    font-family: 'open-sans-regular';
    src: url('./OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'open-sans-bold';
  src: url('./OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'open-sans-extra-bold';
  src: url('./OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'open-sans-light';
  src: url('./OpenSans-Light.ttf');
}
